force-app/main/default/flows/Onboarding_Steps_Processing_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Onboarding_Update_Email_Notification</name>
        <label>Send Onboarding Update Email Notification</label>
        <locationX>699</locationX>
        <locationY>2930</locationY>
        <actionName>Onboarding_Step__c.Onboarding_Send_Email_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Complete_Current_Onboarding_Step</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>emailNotificationRelatedRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Onboarding_Step__c.Onboarding_Send_Email_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Status_to_Current_Onboarding_Step</name>
        <label>Assign Status to Current Onboarding Step</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Onboarding_Step.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Screen_This_Step_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Onboarding_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_Desired_Path</name>
        <label>Set Variables - Desired Path</label>
        <locationX>1062</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>sendEmailNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Desired_Next_Onboarding_Steps_Template.Has_Email_Notification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailNotificationRelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Desired_Next_Onboarding_Step_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Step_Desired_Step_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_Suggested_Path</name>
        <label>Set Variables - Suggested Path</label>
        <locationX>446</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>sendEmailNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Suggested_Next_Onboarding_Steps_Template.Has_Email_Notification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailNotificationRelatedRecordId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Suggested_Next_Onboarding_Step_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_Step_Suggested_Step_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Opportunity_and_Account_Details</name>
        <label>Store Opportunity and Account Details</label>
        <locationX>905</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>onboardingOpportunityOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Onboarding_Step.Onboarding__r.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>onboardingAccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Onboarding_Step.Onboarding__r.Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_No_Open_Onboarding_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Max_Weight</name>
        <label>Update Max Weight</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>MaxNotDelayedOnboardingStepWeight</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Created_Onboarding_Steps.Step_Weight__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Created_Onboarding_Steps</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OnboardingStepTransactionTypeComplete</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Complete&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>OnboardingStepTransactionTypeUpdate</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Update&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>ThisStepOnboardingStepStatusDelayed</name>
        <choiceText>Delayed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delayed</stringValue>
        </value>
    </choices>
    <choices>
        <name>ThisStepOnboardingStepStatusInProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>ThisStepOnboardingStepStatusNotStarted</name>
        <choiceText>Not Started</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Assignment_Type_Desired_Path_Queue</name>
        <label>Check Assignment Type - Desired Path - Queue</label>
        <locationX>1062</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Transform_Desired_Next_Onboarding_Step_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Queue_Desired_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Desired_Next_Onboarding_Steps_Template.Assignment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Desired_Path</targetReference>
            </connector>
            <label>Is Queue - Desired Path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Assignment_Type_Suggested_Path_Queue</name>
        <label>Check Assignment Type - Suggested Path - Queue</label>
        <locationX>446</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Transform_Suggested_Next_Onboarding_Step_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Queue_Suggested_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Suggested_Next_Onboarding_Steps_Template.Assignment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Suggested_Path</targetReference>
            </connector>
            <label>Is Queue - Suggested Path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Chosen_Prepopulated_Next_Step</name>
        <label>Has Chosen Prepopulated Next Step</label>
        <locationX>831</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Get_Desired_Next_Onboarding_Steps_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chosen_Prepopulated_Next_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Screen_Next_Onboarding_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Suggested_Next_Onboarding_Steps_Template.Template_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_No_Suggested_Next_Step</targetReference>
            </connector>
            <label>Chosen Prepopulated Next Step</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_No_Open_Onboarding_Step</name>
        <label>Has No Open Onboarding Step</label>
        <locationX>905</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Open_Onboarding_Steps_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Open_Onboarding_Steps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasNoOpenOnboardingStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Onboarding_Steps</targetReference>
            </connector>
            <label>Has Open Onboarding Steps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_No_Suggested_Next_Step</name>
        <label>Has No Suggested Next Step</label>
        <locationX>600</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Should_Send_Email_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Suggested_Next_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SuggestedNextStepIsNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Assignment_Type_Suggested_Path_Queue</targetReference>
            </connector>
            <label>Has Suggested Next Step</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Update</name>
        <label>Is Update</label>
        <locationX>440</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Has_Chosen_Prepopulated_Next_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingStepTransactiontypeRadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OnboardingStepTransactionTypeUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_to_Current_Onboarding_Step</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refresh_Max_Weight_Value</name>
        <label>Refresh Max Weight Value?</label>
        <locationX>660</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Created_Onboarding_Steps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refresh_Max_Weight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Created_Onboarding_Steps.Step_Weight__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>MaxNotDelayedOnboardingStepWeight</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Max_Weight</targetReference>
            </connector>
            <label>Refresh Max Weight</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Send_Email_Notification</name>
        <label>Should Send Email Notification?</label>
        <locationX>831</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>Complete_Current_Onboarding_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendEmailNotification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Onboarding_Update_Email_Notification</targetReference>
            </connector>
            <label>Send Email Notification</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OnboardingStatusPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Onboarding__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OnboardingStepsCollectionChoiceSet</name>
        <collectionReference>Get_All_Onboarding_Steps_Template</collectionReference>
        <dataType>String</dataType>
        <displayField>Flow_Choice_Displayed_Name__c</displayField>
        <object>Onboarding_Steps_Template__c</object>
        <valueField>Template_Name__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>HasNoOpenOnboardingStep</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Get_Current_Onboarding_Step.Id})</expression>
    </formulas>
    <formulas>
        <name>OnboardingStepNextWeight</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!MaxNotDelayedOnboardingStepWeight}), 1, {!MaxNotDelayedOnboardingStepWeight} + 1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SuggestedNextStepIsNull</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Get_Suggested_Next_Onboarding_Steps_Template.Id})</expression>
    </formulas>
    <interviewLabel>Onboarding - Steps Processing Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding - Steps Processing Screen</label>
    <loops>
        <name>Loop_Through_Created_Onboarding_Steps</name>
        <label>Loop Through Created Onboarding Steps</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_All_Onboarding_Steps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Refresh_Max_Weight_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Store_All_Already_Created_Onboarding_Step_Names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Desired_Next_Onboarding_Step</name>
        <label>Create Desired Next Onboarding Step</label>
        <locationX>1062</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Set_Variables_Desired_Path</targetReference>
        </connector>
        <inputReference>Transform_Desired_Next_Onboarding_Step_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Suggested_Next_Onboarding_Step</name>
        <label>Create Suggested Next Onboarding Step</label>
        <locationX>446</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Set_Variables_Suggested_Path</targetReference>
        </connector>
        <inputReference>Transform_Suggested_Next_Onboarding_Step_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Onboarding_Steps</name>
        <label>Get All Onboarding Steps</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Created_Onboarding_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Onboarding_Step.Onboarding__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Onboarding_Steps_Template</name>
        <label>Get All Onboarding Steps Template</label>
        <locationX>440</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Suggested_Next_Onboarding_Steps_Template</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Onboarding_Step.Onboarding__r.Onboarding_Step_Template_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Onboarding_Step.Onboarding__r.Onboarding_Step_Template_Version__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Template_Name__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>Store_All_Already_Created_Onboarding_Step_Names</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delayed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding_Steps_Template__c</object>
        <sortField>Weight__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Onboarding_Step</name>
        <label>Get Current Onboarding Step</label>
        <locationX>905</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Opportunity_and_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Step__c</object>
        <sortField>Step_Weight__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Desired_Next_Onboarding_Steps_Template</name>
        <label>Get Desired Next Onboarding Steps Template</label>
        <locationX>1062</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Assignment_Type_Desired_Path_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Onboarding_Step.Onboarding__r.Onboarding_Step_Template_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Onboarding_Step.Onboarding__r.Onboarding_Step_Template_Version__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Template_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction_Screen_Next_Onboarding_Step</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Steps_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Desired_Path</name>
        <label>Get Queue - Desired Path</label>
        <locationX>930</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Desired_Next_Onboarding_Step_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Desired_Next_Onboarding_Steps_Template.Fixed_Queue_Name_Assignment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Suggested_Path</name>
        <label>Get Queue - Suggested Path</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Suggested_Next_Onboarding_Step_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Suggested_Next_Onboarding_Steps_Template.Fixed_Queue_Name_Assignment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Suggested_Next_Onboarding_Steps_Template</name>
        <label>Get Suggested Next Onboarding Steps Template</label>
        <locationX>440</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Details_Screen</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 AND 4)</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Onboarding_Step.Onboarding__r.Onboarding_Step_Template_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Onboarding_Step.Onboarding__r.Onboarding_Step_Template_Version__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delayed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Weight__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>MaxNotDelayedOnboardingStepWeight</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Steps_Template__c</object>
        <sortField>Weight__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Current_Onboarding_Step</name>
        <label>Complete Current Onboarding Step</label>
        <locationX>831</locationX>
        <locationY>3122</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Onboarding_Step.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>Transaction_Screen_Next_Step_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Step__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Onboarding_Step</name>
        <label>Update Current Onboarding Step</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <inputReference>Get_Current_Onboarding_Step</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding_Step_Desired_Step_Path</name>
        <label>Update Onboarding Step - Desired Step Path</label>
        <locationX>1062</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Should_Send_Email_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Onboarding_Step.Onboarding__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Get_Desired_Next_Onboarding_Steps_Template.Onboarding_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding_Step_Suggested_Step_Path</name>
        <label>Update Onboarding Step - Suggested Step Path</label>
        <locationX>446</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Should_Send_Email_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Onboarding_Step.Onboarding__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Get_Suggested_Next_Onboarding_Steps_Template.Onboarding_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <screens>
        <name>Details_Screen</name>
        <label>Details Screen</label>
        <locationX>440</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transaction_Screen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_MainScreenHeaderCurrentStep</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Get_Current_Onboarding_Step.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(147, 141, 141); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Current Onboarding Step&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Status: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Current_Onboarding_Step.Status__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Owner: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Current_Onboarding_Step.Owner_Name__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Current Comments: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Current_Onboarding_Step.Comment__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Update or Complete Step</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Open_Onboarding_Steps_Screen</name>
        <label>No Open Onboarding Steps Screen</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Open_Onboarding_Steps_Screen_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;All onboarding steps have been completed.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;There are currently no open onboarding steps.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transaction_Screen</name>
        <label>Transaction Screen</label>
        <locationX>440</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Update</targetReference>
        </connector>
        <fields>
            <name>Transaction_Screen_Radio_Button_Header</name>
            <fieldText>&lt;p&gt;Please choose a transaction type:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transaction_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transaction_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OnboardingStepTransactiontypeRadioButton</name>
                    <choiceReferences>OnboardingStepTransactionTypeUpdate</choiceReferences>
                    <choiceReferences>OnboardingStepTransactionTypeComplete</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>OnboardingStepTransactionTypeUpdate</defaultSelectedChoiceReference>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Transaction_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transaction_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Transaction_Screen_This_Step_Header</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(95, 95, 95);&quot;&gt;Current Step ({!Get_Current_Onboarding_Step.Name})&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Transaction_Screen_This_Step_Status</name>
                    <choiceReferences>ThisStepOnboardingStepStatusNotStarted</choiceReferences>
                    <choiceReferences>ThisStepOnboardingStepStatusInProgress</choiceReferences>
                    <choiceReferences>ThisStepOnboardingStepStatusDelayed</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Onboarding_Step.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Current_Onboarding_Step.Comment__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OnboardingStepTransactiontypeRadioButton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>OnboardingStepTransactionTypeUpdate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Transaction_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transaction_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Transaction_Screen_Next_Step_Comments_Header</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(95, 95, 95); font-size: 16px;&quot;&gt;Current Step ({!Get_Current_Onboarding_Step.Name})&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Transaction_Screen_Next_Step_Comment</name>
                    <defaultValue>
                        <stringValue>{!Get_Current_Onboarding_Step.Comment__c}</stringValue>
                    </defaultValue>
                    <fieldText>Enter final comments before completing this step:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Please populate before moving into the next step.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Main_Screen_Next_Step_Header</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(95, 95, 95); background-color: rgb(255, 255, 255);&quot;&gt;Next Step&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SuggestedNextStepIsNull</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Transaction_Screen_Next_Onboarding_Step</name>
                    <choiceReferences>OnboardingStepsCollectionChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Suggested_Next_Onboarding_Steps_Template.Template_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Next Onboarding Step</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Pre-populated with suggested next step.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SuggestedNextStepIsNull</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OnboardingStepTransactiontypeRadioButton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>OnboardingStepTransactionTypeComplete</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>779</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Onboarding_Step</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Store_All_Already_Created_Onboarding_Step_Names</name>
        <label>Store All Already Created Onboarding Step Names</label>
        <locationX>440</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Get_All_Onboarding_Steps_Template</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_All_Onboarding_Steps[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Desired_Next_Onboarding_Step_Record</name>
        <label>Transform Desired Next Onboarding Step Record</label>
        <locationX>1062</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Create_Desired_Next_Onboarding_Step</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Onboarding_Step__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>&quot;Not Started&quot;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Step_Weight__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Desired_Next_Onboarding_Steps_Template.Weight__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Onboarding__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Current_Onboarding_Step.Onboarding__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Desired_Next_Onboarding_Steps_Template.Template_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OwnerId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>CASE({!Get_Desired_Next_Onboarding_Steps_Template.Assignment_Type__c}, 
&quot;Fixed User&quot;, {!Get_Desired_Next_Onboarding_Steps_Template.Fixed_User_Assignment__c},
&quot;Account Owner&quot;, {!onboardingAccountOwnerId},
&quot;Opportunity Owner&quot;, {!onboardingOpportunityOwnerId},
&quot;Queue&quot;, {!Get_Queue_Desired_Path.Id},
null)</formulaExpression>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Suggested_Next_Onboarding_Step_Record</name>
        <label>Transform Suggested Next Onboarding Step Record</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Create_Suggested_Next_Onboarding_Step</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Onboarding_Step__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>&quot;Not Started&quot;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Step_Weight__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Suggested_Next_Onboarding_Steps_Template.Weight__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Onboarding__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Current_Onboarding_Step.Onboarding__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Suggested_Next_Onboarding_Steps_Template.Template_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OwnerId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>CASE({!Get_Suggested_Next_Onboarding_Steps_Template.Assignment_Type__c}, 
&quot;Fixed User&quot;, {!Get_Suggested_Next_Onboarding_Steps_Template.Fixed_User_Assignment__c},
&quot;Account Owner&quot;, {!onboardingAccountOwnerId},
&quot;Opportunity Owner&quot;, {!onboardingOpportunityOwnerId},
&quot;Queue&quot;, {!Get_Queue_Suggested_Path.Id},
null)</formulaExpression>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AllOnboardingStepTemplates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Steps_Template__c</objectType>
    </variables>
    <variables>
        <name>AllOnboardingStepTemplatesSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Steps_Template__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_All_Delayed_Onboarding_Steps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Steps_Template__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_All_Delayed_Onboarding_Steps_Template</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Steps_Template__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Step__c</objectType>
    </variables>
    <variables>
        <name>emailNotificationRelatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaxNotDelayedOnboardingStepWeight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>onboardingAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>onboardingOpportunityOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>onboardingStepWeightChoiceVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sendEmailNotification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suggestedNextStepOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suggestedPathEmailRecipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
