force-app/main/default/flows/Opportunity_After_Create_Onboarding_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>onboardingEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 10</expression>
    </formulas>
    <formulas>
        <name>onboardingName</name>
        <dataType>String</dataType>
        <expression>&quot;Onboarding - &quot; &amp; {!$Record.Account.Name} &amp; &quot; - &quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Opportunity - After - Create Onboarding Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After - Create Onboarding Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_First_Onboarding_Step</name>
        <label>Create First Onboarding Step</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Kick-off Call Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding__c</field>
            <value>
                <elementReference>Create_Onboarding_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step_Weight__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Onboarding_Record</name>
        <label>Create Onboarding Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_First_Onboarding_Step</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>onboardingEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>onboardingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Step_Template_Category__c</field>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Step_Template_Version__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preparing</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Onboarding_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
